---
import MainLayout from '../layouts/MainLayout.astro';
import { Icon } from 'astro-icon/components';
---

<MainLayout title="Preaching">
    
    <div class="container page-content">
        
        <section class="main-title-section">
            <h1 class="text-uppercase fw-bold">Preaching</h1>
            <p class="lead">Egestas elit dui scelerisque ut eu purus aliquam vitae habitasse.</p>
        </section>

        <section class="content-card">
            <div class="container">
                <div class="card p-5">
                    <h4 class="fw-bold mb-4">Title</h4>

                    <div class="row g-3">

                        <div class="row">
                            <div class="col-lg-12">
                                <label for="searchSermon" class="form-label text-muted d-block text-start">Search for
                                    Sermon</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="searchSermon"
                                        placeholder="Search for Sermon">
                                    <span class="input-group-text border-start-0" id="searchIcon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <label for="bookSelect" class="form-label text-muted d-block text-start">Book of the
                                Bible</label>
                            <select class="form-select" id="bookSelect">
                                <option selected value="-Any-">-Any-</option>
                            </select>
                        </div>

                        <div class="col-lg-6">
                            <label for="dateSelect" class="form-label text-muted d-block text-start">Date</label>
                            <input type="date" class="form-control" id="dateSelect" placeholder="Select Date">
                            <small class="form-text text-muted text-start d-block mt-1">E.g. dd/mm/yyyy</small>
                        </div>

                        <div class="col-12 col-md-6 col-lg-2 ms-lg-auto d-flex align-items-end justify-content-end">
                            <button class="btn btn-outline-red btn-audio text-uppercase"
                                style="width: 150px; height: 38px;">Search</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container mt-5">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                </div>
            </div>

            <nav aria-label="Sermon page navigation" class="mt-3">
                <ul class="pagination justify-content-center">
                </ul>
            </nav>
        </section>

    </div>
</MainLayout>